--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision==0.15.0
torchaudio==2.0.0
omegaconf
torchmetrics==1.0.3
fvcore
iopath
xformers==0.0.18
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
scipy
scikit-learn
scikit-multilearn
scikit-image
pydicom
torchxrayvision
matplotlib
nibabel
torchio
monai
transformers
h5py
peft
ml-collections
open-clip-torch